body{
    display: table;
    background: url(../img/bg3.JPG) fixed repeat;
    
}

a{
    text-decoration:none;
    cursor:pointer;
    color: rgb(255, 255, 255);
}

.bg_0{
    float: left;
    padding: 0 60px 100px;
    margin-bottom: 50px;
    box-shadow: 0 6px 12px 0 rgba(255, 255, 255, 0.441);
    margin-left: 100px;
    margin-top: 20px;
    height: 2000px;
    width: 1200px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
}

.header{
    position: relative;
    padding: 20px 0 20px;
    height: 220px;
}

.header_title{
    position: relative;
    height: 160px;
    border-bottom :1px solid;
    border-color:aliceblue;
}

.lp{
    height: 160px;
    width: 200px;
    float: left;
}

.rp{
    height: 160px;
    width: 200px;
    float: right;
}

.header_word{
    float: left;
    font-size:70px;
    font-weight:bold;
    font-family:"宋体";
    margin-left: 110px;
    height: 120px; 
    padding-top: 40px;
    color: aliceblue;
}

.header_ul{
    height: 60px;
    border: 1px solid;
    border-color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: "楷体";
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0);
}
 
li {
    float: left;
}
 
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18.59px 83.8px;
    text-decoration: none;
}
 
/*鼠标移动到选项上修改背景颜色 */
li a:hover {
    background-color: rgb(0, 0, 0);
}

.xiaobiaoti{
    align-items: center;
    display: flex;
    background: linear-gradient(to right,rgba(139,192,200,0),rgb(205, 201, 201),rgb(201, 199, 199),rgba(178, 188, 184, 0));
    padding: 0px 0px;
    justify-content: center;
    font-weight:bolder;
    font-family: "宋体";
    font-size: 30px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 40px;
}
.me{
    height: 300px;
    border-radius: 20px;
    margin-bottom: 25px;

}
.like{
    height: 300px;
    border-radius: 20px;
    margin-bottom: 25px;
}
.th{
    height: 250px;
    border-radius: 20px;
    margin-bottom: 25px;
}
.trip{
    height: 250px;
    border-radius: 20px;
    margin-bottom: 25px;
}
.mz{
    float: left;
    height: 250px;
    width:200px;
    background-color: rgba(240, 248, 255, 0.596);
    border-radius: 20px;
    margin-left: 32.5px;
}
.my{
    float: left;
    margin-left: 35px;
    width: 900px;
    height: 300px;
    background-color: rgba(240, 248, 255, 0.596);
    border-radius: 20px;

}
.lz{
    float: left;
    height: 300px;
    width:900px;
    background-color: rgba(240, 248, 255, 0.596);
    border-radius: 20px;
    margin-left: 32.5px;
}
.ly{
    float: left;
    margin-left: 35px;
    width: 200px;
    height: 250px;
    background-color: rgba(240, 248, 255, 0.596);
    border-radius: 20px;
}

.qiu{
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: black;
    text-align: center;
    line-height: 88px;
}
.zi{
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(255, 255, 255, 0.507);
    border-radius: 10px;
    height:100px ;
    font-family: "宋体";
}

.kuai{
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 10px;
    overflow: hidden;
    width: 200px;
    height: 280px;
    float: left;
    align-items: center;
}
.yejiaoqu{
    float: left;
    padding: 0 100px 5px;
    margin-left: 280px;
    margin-top: 50px;
    height: 50px;
    width: 750px;
    background: rgba(0, 0, 0, 0.892);
    border-radius: 20px;
    color: rgb(255, 255, 255);
}
.yemeiqu{
    float: left;
    padding: 0 100px 5px;
    margin-left: 530px;
    height: 50px;
    width: 260px;
    background: rgba(0, 0, 0, 0.892);
    border-radius: 20px;
    color: rgb(255, 255, 255);
}